<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><img src=<%= video.small_cover_url %> ></td>
        <td><%= link_to 'Show', video %></td>
      </tr>
    <% end %>
  </tbody>
</table>