<section class='content clearfix'>
	<article class='video'>
    <div class='container'>
      <div class='row'>
       <div class='video_large_cover col-sm-7 col-sm-offset-1'>
         <img src='/tmp/monk_large.jpg'>
        </div>
        <div class='video_info col-sm-3'>
  	      <header>
    	      <h3><%= @video.title %></h3>
             <span>Rating: 4.5/5.0</span>
           </header>
           <p><%= @video.description %></p>
      	    <div class='actions'>
        	    <a class='btn btn-primary' href=''>Watch Now</a>
              <a class='btn btn-default' href=''>+ My Queue</a>
            </div>
        </div>
      </div>
    </div>
  </article>
</section>
